  @mixin articleStyles($borderColor) {
  min-height: 500px;
  border: 5px solid $borderColor;
  display: inline-block;
  margin: 2%;
  width: 20%;
}
@mixin hovering($color) {
  content: "#{$color}";
  color: black;
  position: relative;
  left: 45%;
}

@mixin gradient($someColor, $inputColorWhiten: none, $inputColorBlacken: none){
  @if $someColor == red {
    $inputColorWhiten: #000101;
    $inputColorBlacken: #010000;
  }
  @else if $someColor == green {
    $inputColorWhiten: #010001;
    $inputColorBlacken: #000100;
  }
  @else if $someColor == blue {
    $inputColorWhiten: #010100;
    $inputColorBlacken: #000001;
  }

  @for $i from 0 through 255 {
    $color: white - ($i * $inputColorWhiten);

    .divPickerWhite#{$i} {
      background : $color;
      height: 1px;
      width: 100%;
      font-size:0px;
      
      &:hover {
        color: black;
        font-size: 40px;
        border: 1px solid white;
        height: 50px;
      }
      &::after {
        @include hovering($color);
      }
    }
  }

  @for $i from 1 through 255 {
    $color: black + ($i * $inputColorBlacken);

    .divPickerBlack#{$i} {
      background : $color;
      height: 1px;
      width: 100%;
      font-size:0px;

      &:hover {
        color: white;
        font-size: 40px;
        border: 1px solid white;
        height: 50px;
      }
      &::after {
        @include hovering($color);
        color: white;
      }
    }
  }
}
