.red{
  @include gradient(red);
  @include articleStyles(#ff0000);
}
.green{
  @include gradient(green);
  @include articleStyles(#00ff00);
}
.blue{
  @include gradient(blue);
  @include articleStyles(#0000ff);
}

.mixing{
  @include articleStyles(grey);
  section {
    background-color: black;
    height: 510px;
  }
  h3 {
    color: white;
  }
}

.addedP{
  color: white;
  padding-top: 50%;
  font-size: 40px;
  text-align: center;
}
